{% extends 'base.html' %} 

{% block word %}{{word}}{% endblock word %}


{% block hr %}
{% if line %}
<hr
  style="
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    color: rgb(0, 0, 82);
    height: 2px;
  "
/>
{% endif %}
{% endblock hr %}

{% block list %}
<ul>
  {% for meaning in definitions %}
  <div class="container my-4">
    <li><h6>{{meaning.meaning}}</h6></li>
    <ul>
      <li>{{meaning.part_of_speech}}</li>
      <li>{{meaning.example}}</li>
    </ul>
  </div>
  {% endfor %}
</ul>
{% endblock list %}
